.container {
    max-width: 100%;
    padding: 0px 2%;
}

/* Inline code */
code{padding:.0rem}

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: pre;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8292a2;
}

.token.punctuation {
	color: #f8f8f2;
}

[class*="language-"] .namespace {
	opacity: 1 !important;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.main-top-btn {
    background-color:#5a67d8 !important;
    border-radius: 4px;
    height: 33px;
    width: 120px;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

/*instruction codeblock*/
.markdown-body pre[class*="language-"] {
    position: relative;
    border-radius: 5px;
}

pre[class*="language-"] .copy {
    content: "copy";
	padding-bottom:5px;
	width:30px;
    position: absolute;
    top: 0;
    right: -20px;
	border:none;
    transform: translate(-10px, -90%);
    background: none;
    cursor: pointer;
    transition: all 200ms ease;
	display:none;
}

pre[class*="language-"]:hover .copy {
	display:block;
}

.markdown-body pre[class*="language-"]:hover .copy:hover {
    color: gray;
}
 /*code block css*/

 /* 반응형 영상 크기 */
 .video-container {
    text-align: center; 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 0px; 
    height: 0; 
    overflow: hidden;  
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

 /* 2K 해상도 (2560px) 이상 */
@media screen and (min-width: 2560px) {
    h1 {
        font-size: 3rem !important; /* 더 큰 크기로 조정 */
    }
    h2 {
        font-size: 2.5rem !important;
    }
    h3 {
        font-size: 2rem !important;
    }
    h4 {
        font-size: 1.75rem !important;
    }
    p,
    ol,
    ul,
    pre,
    strong,
    a div,
    li a,
    blockquote,
    td,
    .sidebar-title,
    .btn-pdf a {
        font-size: 1.25rem !important;
    }
}
/* 4K 해상도 (3840px) 이상 */
@media screen and (min-width: 3840px) {
    h1 {
        font-size: 3.5rem !important; /* 더욱 큰 크기로 조정 */
    }
    h2 {
        font-size: 3rem !important;
    }
    h3 {
        font-size: 2.75rem !important;
    }
    h4 {
        font-size: 2.5rem !important;
    }
    p,
    ol,
    ul,
    pre,
    strong,
    a div,
    li a,
    blockquote,
    td,
    .sidebar-title,
    .btn-pdf a {
        font-size: 1.5rem !important;
    }
}